<header>


    <div class="moon sticky-top"></div>

    <div class="logo">DODGER STADIUM 2019</div>
    <div class="cloudgroup">
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
    </div>
    <div class="cloudbodygroup" id="firstgroup">
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
    </div>
    <div class="cloudbodygroup" id="secondgroup">
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
    </div>
    <div class="cloudbodygroup" id="thirdgroup">
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
      <div class="cloudA transition"></div>
      <div class="cloudB transition"></div>
      <div class="cloudC transition"></div>
    </div>

  </header>
