<div class="header">

<div class="moon"></div>
<div class="logo"></div>
<div class="cloudgroup">
  <div class="cloudA transition"></div>
  <div class="cloudB transition"></div>
  <div class="cloudC transition"></div>

</div>
<nav>

</nav>

</div>
