<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
          <form action="/CampFlogGnaw/Saturday/MyItinerary" method="post">

    <%for (let i=0; i < saturdaylineup.length; i++) {%>
      <h3><%=saturdaylineup[i].artist%></h3>
      <img src="<%=saturdaylineup[i].img%>" height="200px">

        <input type="checkbox" name="<%=i%>"
         value="<%=saturdaylineup[i].id%>">

    <%}%>

      <input type="submit" name="" value="submit">

          </form>

  </body>
</html>
