<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%for (let i=0; i < saturdaylineup.length; i++) {%>
      <h3><%=saturdaylineup[i].artist%></h3>
    <%}%>

  </body>
</html>
