<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>

    <h1>
      <% for (let i=0; i < itinerary.length; i++) { %>
        <%=itinerary[i].artist%>
      <%}%>
    </h1>

    <a href="http://localhost:3000/CampFlogGnaw/Saturday/Lineup">Home</a>

  </body>
</html>
