

body {
  background-color: ivory;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}


div {
  color: #2E164F;
}

input {
  cursor: pointer;
}

header {
  background: linear-gradient(#1b75bc, #E66254);
  height: 500px;
  position: relative;
}

nav {

}

main {
  background-color: #E66254;
  min-width: 100vh
}

form, a {
  position: relative;
  z-index: 10;
}

footer {
  height: 80vh;
  width: 100%;
  background-image: url('/static/images/footer.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}

.moon {
  background: url('/static/images/moon.png');
  width: 40%;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  right: -5%;
  top: -60px;
  margin: 0;
  z-index: 2;
}

.logo {
  background: url('/static/images/campheaderlogo.png');
  padding-top: 40%;
  width: 40%;
  position: absolute;
  right: 30%;
  top: 1%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: white;
  text-align: center;
  font-size: 1.5em
}

.cloudA {
  background: url('/static/images/cloud1.png');
  padding-top: 40%;
  width: 40%;
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
  position: absolute;
  animation: cloudsmove linear 40s infinite;
}

.cloudB {
  background: url('/static/images/cloud2.png');
  padding-top: 80%;
  width: 80%;
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
  position: absolute;
  animation: cloudsmove linear 70s infinite;
}

.cloudC {
  background: url('/static/images/cloud3.png');
  padding-top: 80%;
  width: 120%;
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
  position: absolute;
  /* right: -10%;
  top: -20%; */
  animation: cloudsmove linear 100s infinite;
  }


.cloudbodygroup {
  padding-top: 300px;
  position: relative;
}

#firstgroup {
  padding-left: 150%;
}
#secondgroup {
  padding-left: 50%;
}
#thirdgroup {
  padding-left: 0%;
}
#fourthgroup {
  padding-left: 20%%;
}


@keyframes cloudsmove {
  from {left: -150px}
  to {left: 50%;}
}


.hide {
  opacity: 0;
}

.card {
  margin: 0 5% 10% 5%;
}


.partial {
  width: 60%;
}

span {
  margin-left: 5%;
  margin-bottom: 3%
}

.fa {
  margin:auto;
  cursor: pointer;
}

.fa:hover {
  color: orange;
}

.starred {
  color: orange;
}

.mini {
  background-color: rgba(255, 150, 255, 0.7)
}

.faded {
  color: rgba(255, 255, 0, 1)
}

.partialNotification {
  margin-top: 5%;
  font-size: 1.4em;
  margin-left: 0;
  background-color: rgba(255, 255, 0, 1);
  width: 100%;
  color: black
}

.btn-outline-secondary {
  color: white;
  background-color: #2E164F
}

.mainselector, .card-text {
  display: inline;
}

#bootstrapcards {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7)
}

.mainCampSelector {
  float: right;
}

.mainFlogSelector {
  float: left;
}

.frontCardImg {
  width: 100%
}

.pretty {
  font-size: 3em;
  margin-right: 0
}

.invisible {
  opacity: 0
}


/* working on navbar */



.mb-5, .my-5 {
  margin-bottom: 0 !important;
}

#myNav {
  background-color: #2D1650;
  text-align: center
}

.nav, .nav-pills {
  justify-content: center
}

.block {
  height: 40px;
  background-color: transparent
}

.loginbtn {
  position:absolute;
  right: 2%
}



.signin {

  width: 80%
}



button[type=submit].btn-primary {
  background-color: #2E164F;
  border: 0px
}

.registerbtn {
margin-left: 50%;
color: #2E164F
}

.inline {
  display: inline;
}

.editcontainer {
  width: 100%
}

.floatright {
  float: right;
  margin-bottom: 1%
}

.editcontainer a {
  float: left;
  margin-left: 0;
  margin-bottom: 1%

}
