body {
  background-color: ivory;
  font-family: 'Dosis', sans-serif;
  background: linear-gradient(#1b75bc, #CC6462);
  background-repeat: no-repeat;
  min-height: 100vh
}

div {
  color: #2E164F;
}

input {
  cursor: pointer;
}

.hide {
  display: none;
}

.card {
  margin: 5%;
}

.partial {
  width: 60%;
}

span {
  margin-left: 5%;
  margin-bottom: 3%
}

.fa {
  margin:auto;
  cursor: pointer;
}

.fa:hover {
  color: orange;
}

.starred {
  color: orange;
}

.mini {
  background-color: #f9dede
}

.faded {
  color: #E26153
}

.partialNotification {
  margin-top: 5%;
  font-size: 1.4em;
  margin-left: 0;
  background-color: #E26153;
  width: 100%;
}

.btn-outline-secondary {
  color: white;
  background-color: #2E164F
}

.mainselector, .card-text {
  display: inline;
}

.mainCampSelector {
  float: right;
}

.mainFlogSelector {
  float: left;
}

.frontCardImg {
  width: 100%
}

.pretty {
  font-size: 3em;
  margin-right: 0
}
